*{
    box-sizing: border-box;
}
  
    
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Style the header */
header {
    background-color:BROWN;
    PADDING:10PX;
    text-align: center;
    font-size: 35px;
    -webkit-text-stroke: 1px red;
    color: yellow; -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
/*animation tools*/
@-webkit-keyframes mymove {50% {text-shadow: 10px 20px 30px white;}}
@keyframes mymove {50% {color: #08F9DF;}50%{background-color:#333;}50% {text-shadow: 10px 10px 15px white;}}
@keyframes mymove1 { 50% {box-shadow: 10px 20px  30px blue;}}
@keyframes mymove2{50% {text-shadow: 10px 10px 15px black;}}
@keyframes mymove3{50% {text-shadow: 10px 10px 15px red;}50% {box-shadow: 10px 20px  30px blue;}50%{background-color:pink;}}
/*content split tools*/
#grad1{height: 200px;
 background-image:url(a.jpg);
-webkit-text-stroke: 1px RED;
 color: YELLOW;
 text-shadow:
  3px 3px 0 #000,
 -1px -1px 0 #000,  
  1px -1px 0 #000,
 -1px 1px 0 #000,
  1px 1px 0 #000;
  }
#grad2{display:inline-table;
 float:right;
 -webkit-text-stroke: .5px RED;
 color: YELLOW;
 text-shadow:
 3px 3px 0 #000,
 -1px -1px 0 #000,  
  1px -1px 0 #000,
 -1px 1px 0 #000,
  1px 1px 0 #000;
}
   
.btn {float:left;
  background-color: brown;
  border: border-box;
  color: white;
  padding: 1px 35px;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
}
.btn:hover {
  background-color: green;
  color: black;
}
/* Create three columns/boxes that floats next to each other */
nav {
    float: left;
    width: 30%;
   min-height: 300px; /* only for demonstration, should be removed */
    background: #EAEDED;
   
}
aside{
    float: right;
    width: 30%;
    min-height: 300px; /* only for demonstration, should be removed */
    background: #EAEDED;
    
}
/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}
article {
   display:inline-table;
    width: 40%;
    background-color: #f1f1f1;
    min-height: 300px; /* only for demonstration, should be removed */
}
article ul {
    list-style-type: none;
    padding: 0;
}
abt
{   
    
   color:white;
    float:left;
	min-height:300px;
	width:100%; 
    background-image:url(n4.gif);
    background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
   }
m
{
animation: mymove4 5s infinite;
font-size: 20px;
text-shadow: 0 0 3px  orange;
width: 70%;
height: 300px;
}
m2
{float: left;
animation: mymove4 5s infinite;
font-size: 20px;
text-shadow: 0 0 3px  orange;
width: 13%;
height: 300px;
}

lib{min-height:100%;
	width:100%;
	/*background-size: cover;*/
	}
	n
	{background-color: #f1f1f1;
		float: right;animation: mymove2 5s infinite;
     font-size: 20px;
    text-shadow: 0 0 3px  orange;
    width: 70%;
    min-height: 250px;
	}
	n2{background-color: #f1f1f1;
		float: left;
    width: 30%;
    min-height: 250px;
	}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}
/*dropdown box controls*/
	.dropbtn {-webkit-animation: mymove1 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove1 5s infinite;

  background-color: 008080;
  color: white;
  padding:15px;
  font-size: 16px;
  border: box;
  cursor: pointer;
}
.dropdown {
  
  display: inline-block;
}
.dropdown-content {animation: mymove3 5s infinite;

  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #3498DB}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover.dropbtn {
  background-color: #3e8e41;
}

.dropdown-content2 {animation: mymove3 5s infinite;
  display: none;
 position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content2 a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown-content2 a:hover 
{background-color: #3498DB}
.dropdown:hover .dropdown-content2 
{display: block;}

/* menu bar controls*/
ul.sidenav 
{
cursor:pointer;
list-style-type: none;
top:0;overflow: hidden;
margin: 0;position: -webkit-sticky; /* Safari */
position: sticky;
padding: 0;
background-color: #333;
}

ul.sidenav li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
 
ul.sidenav li a.active {
  background-color: #4CAF50;
  color: white;
}
ul.sidenav li a:hover:not(.active) {
  background-color:  #111;
  color: white;
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: -webkit-sticky;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
  
}
@media (max-width: 600px) {
    nav,article,aside,lib,abt {
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width: 400px) {
  ul.sidenav li a {cursor:pointer;
    text-align: center;
    float: none;
  }
}
.tabcontent {
  display: none;
  
}
/*dark them switch controls*/
.switch {position:relative;
  top:5;right:10;
  //bottom:0;color:white;
  display: block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}



.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {			
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on
{
  color:black;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 25%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}
.off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 73%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}

#s{display:inline-table;color:white;
position:absolute;top:10;
right:60;}


embed:focus { 
  outline: none;
}